#abc-container {
position:fixed;
margin-top:-510px;
z-index:13;
}
#abc {
width:400px;
height:562px;
top:0px;
left:300px;
font-family:'Open Sans';
font-weight:300;
display:none;
position:absolute;
background-color:rgba(0,0,0,1);
border-radius:20px;
overflow:hidden;
}
img#close {
position:absolute;
z-index:300;
top:17px;
left:364px;
box-shadow:none;
cursor:pointer
}
div#popupContact {
position:relative;
height:100%;width:100%s;
left:0;
top:0;
margin-left:0px;
}
form {
max-width:360px;
min-width:300px;
max-height:500px;
padding:0px 20px 0px 20px;
border:0px solid red;
}

h2 {
background-color:transparent;
color:#ff761a;
padding:30px 20px 10px 20px;
margin:-10px 0px 0px 0px;
position:relative;
font-size:28px;
letter-spacing:0.5px;
text-align:center;
font-weight:300;
}
hr {
margin:0px -30px;
border-top:1px solid #444444;
border-bottom:0px solid red;
border-left:0px solid red;
border-right:0px solid red;
}
input[type=text] {
width:100%;
height:35px;
padding:5px;
margin-top:20px;
padding-left:20px;
border-radius:5px;
font-size:15px;
border:0px solid red;
}
label {
margin:0;color:red;
}
textarea {
background-image:url(../images/msg.png);
background-repeat:no-repeat;
background-position:5px 7px;
width:100%;
height:100px;
padding:10px;
resize:none;
font-family:'Open Sans';
font-weight:300;
margin-top:20px;
margin-bottom:0px;
border-radius:5px;
border:0px solid red;
padding-left:20px;
font-size:15px;
}
#submit {
text-decoration:none;
width:100%;
text-align:center;
display:block;
background-color:#FFBC00;
color:#fff;
border:1px solid #FFCB00;
font-size:20px;
cursor:pointer;
border-radius:5px
}

#send {
	text-decoration:none;
	margin-bottom:20px;
	margin-top:20px;
	width:100%;
	text-align:center;
	display:block;
	background: -webkit-linear-gradient(top,#ffffff, #cfd8d8);
	background:    -moz-linear-gradient(top,#ffffff, #cfd8d8);
	background:      -o-linear-gradient(top,#ffffff, #cfd8d8);
	background:         linear-gradient(top,#ffffff, #cfd8d8);
	color:#ff761a;
	border:0px solid #ddd;
	padding:10px 0px 10px 0px;
	font-size:22px;
	letter-spacing:1px;
	cursor:pointer;
	border-radius:5px
}

span {
color:red;
}
button {
background-color:transparent;
border:0px;
cursor:pointer
}