@import url(http://fonts.googleapis.com/css?family=Fauna+One|Muli);
.mainform {
display:block;
position:relative;  
margin:30px 0px 0px 0px;
padding:0px;
box-shadow:0 0 10px rgba(0,0,0,0.3);
border-top-left-radius:8px; 
border-top-right-radius:8px; 
border:0px;
background-color: #eaeaea;
background-image: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#999999));
background-image: -webkit-linear-gradient(top, #ffffff, #999999);
background-image:    -moz-linear-gradient(top, #ffffff, #999999);
background-image:      -o-linear-gradient(top, #ffffff, #999999);
background-image:         linear-gradient(to bottom, #ffffff, #999999);
color:2a406c;
}
.mainform img {
    position:absolute;
    max-height:50px;
    left:50%;
    margin:22px 0px 0px -28px;
}
.contact-head1 {
	background: -webkit-linear-gradient(top,#2a406c, #1e2d4d);
	background:    -moz-linear-gradient(top,#2a406c, #1e2d4d);
	background:      -o-linear-gradient(top,#2a406c, #1e2d4d);
	background:         linear-gradient(top,#2a406c, #1e2d4d);
    border-top-left-radius:5px;
    border-top-right-radius:5px;
    color:#777;
    margin:0px 0px 20px 0px;    
    padding:0px 30px;
    text-align:center;   
}
.contact-head1 h2 {
    font-family:'Open Sans';
    font-size:34px;
    font-weight:400;
    letter-spacing:0.8px;
    height:100px;
    margin:0;
    line-height:100px;
    color:#ffffff;
}
.contact-head2 {
    color:#777;
    margin:0px 0px 20px 0px;    
    padding:0px 30px 0px 30px;
    text-align:center; 
    border-bottom:1px solid #999;  
}
.contact-head2 h4 {
    font-size:18px;
    line-height:24px;
    font-weight:300;
    letter-spacing:0px;
}
form {
position:relative; 
margin:0px;
border-radius:3px;
padding:0px 20px 20px 20px;    
}
form .c-6, .c-12 {padding:10px;}
input{
width:100%;
height:40px;
margin:0px;
border:0px;
font-size:14px;
border-radius:3px;
border:1px solid #9f9f9f;
padding:10px;
}
input[type=button]{
margin:0px; 
}
textarea{
width:100%;
height:120px;
margin:0px;
padding:10px;    
border-radius:3px;
border:1px solid #9f9f9f;     
font-size:14px;  
resize:none;
}
#send {
    margin:-4px 0px 0px 0px;
    font-size:14px;
    color:#ffffff;
	background: -webkit-linear-gradient(top,#00a89f, #008587);
	background:    -moz-linear-gradient(top,#00a89f, #008587);
	background:      -o-linear-gradient(top,#00a89f, #008587);
	background:         linear-gradient(top,#00a89f, #008587);
    border:0px;
    letter-spacing:0.8px;
    cursor:pointer;
}
#note{
color:black;
font-Weight:400;
}
#returnmessage{
font-size:14px;
color:green;
text-align:center;
}