.borders {
    border:1px solid red;
}
body {
    margin:0;
    min-height:100%;
    letter-spacing:0.5px;
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    background:rgba(252,252,252,1);    
}
.content-area {
    margin-top:0px;
    padding:0px;
}
.nodisplay {display:none;}
.hidden {visibility:hidden;}
.lesslightbg {background:rgba(204,204,204,1);}
.lightbg {background:rgba(245,245,245,1);}
.lightgradbg {
	background: -webkit-linear-gradient(top,rgba(245,247,247,1), rgba(236,239,239,1));
	background:    -moz-linear-gradient(top,rgba(245,247,247,1), rgba(236,239,239,1));
	background:      -o-linear-gradient(top,rgba(245,247,247,1), rgba(236,239,239,1));
	background:         linear-gradient(top,rgba(245,247,247,1), rgba(236,239,239,1));
}
.medgradbg {
	background: -webkit-linear-gradient(top,rgba(235,238,238,1), rgba(175,180,180,1));
	background:    -moz-linear-gradient(top,rgba(235,238,238,1), rgba(175,180,180,1));
	background:      -o-linear-gradient(top,rgba(235,238,238,1), rgba(175,180,180,1));
	background:         linear-gradient(top,rgba(235,238,238,1), rgba(175,180,180,1));
}
.whitebg {background:rgba(255,255,255,1);}
.whitebg-fixed {
    background:rgba(255,255,255,0.95);
    position:fixed;
    z-index:999;
    top:0;
    box-shadow: 0px 2px 4px rgba(0,0,0,0.18);
    -webkit-backface-visibility:hidden;
   	backface-visibility:hidden;   
}
.whitetxt {color:#ffffff;}
.tealtxt {color:#008587;}
.content {max-width:1200px;padding-left:10px;padding-right:10px;}
.content-main {max-width:1200px;}
.nav-upper {
    margin-top:0;
    height:40px;
    background:rgba(255,255,255,1);
    text-align:right;
}
.nav-upper ul {
    margin-top:0px;
    margin-bottom:0px;
    padding:0px;
}
.nav-upper ul li {
    padding-left:10px;
    display:inline;
    font-weight:400;
    font-size:18px;
    line-height:40px;
}
.phone {
    text-decoration:none;
    color:#777;
    font-size:14px;
}
.nav-upper ul li a i {
    padding:0px;
    color:#2a406c;
    text-decoration: none;
    transition:all 0.15s ease-out; 
    -webkit-transition:all 0.15s ease-out;
}
.nav-upper ul li a i:hover {
    color:#00817a;   
}
.nav-placeholder {
    height:100px;
    background:rgba(252,252,252,1);
}
.nav-main {
    width:100%;
    height:100px;
    text-align:left;
    font-weight:400;
    -webkit-font-smoothing: antialiased;
}
.nav-logo {
    position:relative;
    float:left;
    margin-top:24px;
    width:210px;
}
.nav-logo img {
    position:absolute;
    top:0;left:0px;
    max-width:210px;
    display:table-cell;
}
.nav-main ul {
    margin:0px 0px 0px 128px;
    padding:0px;
	list-style: none;
	position: relative;
	display: inline-table;
}
.nav-main ul:after {
		content: ""; clear: both; display: block;
	}
	.nav-main ul ul {
		background:rgba(252,252,252,.95); border-radius: 0px; padding:0;
		position: absolute; 
        top:100%;
        left:-53px;
        z-index:4;
        max-height:200px;
        color: #777;
        transition:all 0.3s ease;
        -webkit-transition:all 0.3s ease;        
	}
		.nav-main ul ul li {
			float:none;
            text-align:left;
			border-top: 1px solid #6b727c;
            padding:0px;
            color: #777;
            line-height:50px;
			border-bottom: 1px solid #575f6a; position: relative;
		}
			.nav-main ul ul li a {
				padding:5px 30px;
				color: #777;
			}	
				.nav-main ul ul li a:hover {
					background:#00817a;
                    color:#fff;
				}

.nav-main ul li {
    float:left;
    padding:0px 10px;
    display:inline;
    font-size:14px;
    letter-spacing:1px;
    line-height:100px;
}
.nav-main ul li a {
    padding:0px;
    display:block;
    color:#777;
    font-weight:600;
    text-decoration:none;
    transition:all 0.15s ease-out;
    -webkit-transition:all 0.15s ease-out;    
}
.nav-main ul li a:hover {
    color: #00817a;
}
			
.nav-main ul ul {
	display: none;
}
    .nav-main ul li:hover > ul {
		display: block;
        position:absolute;
        z-index:45;
	}
.mobile {
  margin:0px 5%;
  line-height:100px;
  font-size:30px;
  color:#2a406c;    
  display:none;
  float: right;
  cursor: pointer;
}
.mobile.on {
  color:#aaa;
}
.mobile .toggle {
  display:inline-block;
  float:right;
  background:transparent;
  -webkit-transition: all .3s cubic-bezier(0.585,-.6,.43,1.65);
  transition: all .3s cubic-bezier(0.585,-.6,.43,1.65);
}
/*mobile.menu*/
.mobile-menu {display:block;position:fixed;top:0;height:100%;width:250px;z-index:99999;background:#e9e9e9;left:-250px;transition:left 0.25s ease-in-out;}
.mobile-menu .logo {padding:58px 25px 0 18px;height:150px;}
.mobile-menu .logo img {max-width:150px;}
.mobile-menu .menu ul {padding:0 30px;}
.mobile-menu .menu ul li a {color:#555;line-height:40px;height:40px;display:block;font-size:17px;text-decoration:none;letter-spacing:2px; }
.mobile-menu .menu ul li a:hover {color:#2a406c;}

.mobile-menu .social {position:relative;left:0;bottom:0;padding:25px;}
.mobile-menu .social ul {padding:0 5px;}
.mobile-menu .social ul li {display:inline-block;}
.mobile-menu .social ul li a {display:block;color:#2a406c;font-size:18px;padding:0 0 0 14px;}
.mobile-menu .social ul li:first-child a {padding:0;}

.mobile-menu .return {position:absolute;top:0;right:25px;float:right;width:25px;}
.mobile-menu .return a {display:block;height:150px;width:25px;}
.mobile-menu .return .toggle {display:block;position:absolute;top:75px;left:0;width:25px;height:2px;background:#888;font-size:25px;-webkit-transition:all .3s cubic-bezier(0.585,-.6,.43,1.65);transition:all .3s cubic-bezier(0.585,-.6,.43,1.65);-webkit-transform: rotate(45deg) translate(0, 0);transform: rotate(45deg) translate(0, 0);}
.mobile-menu .return .toggle:before {content:'';position:absolute;right:0;width:100%;height:2px;background:#888;-webkit-transform-origin:center center;transform-origin:center center;top:-6px;-webkit-transition:all .3s cubic-bezier(0.585,-.6,.43,1.65);transition:all .3s cubic-bezier(0.585,-.6,.43,1.65);-webkit-transform: rotate(90deg) translate(6px, 0);transform: rotate(90deg) translate(6px, 0);}

.mobile-menu.on {left:0;}

.mobile-menu ul:after {
		content: ""; clear: both; display: block;
	}
	.mobile-menu ul ul {
		background:rgba(252,252,252,.95); border-radius: 0px; padding:0;
		position: relative; 
        top:100%;
        left:-15px;
        z-index:4;
        max-height:200px;
        color: #777;
        transition:all 0.3s ease;
        -webkit-transition:all 0.3s ease;    
	}
		.mobile-menu ul ul li {
			float:none;
            text-align:left;
			border-top: 1px solid #6b727c;
            padding:0px;
            color: #777;
            line-height:50px;
			border-bottom: 1px solid #575f6a; position: relative;
		}
			.mobile-menu ul ul li a {
				padding:5px 30px;
				color: #777;
			}	
				.mobile-menu ul ul li a:hover {
					background:#2a406c;
                    color:#fff;
				}

.mobile-menu ul ul {
	display: none;
}
    .mobile-menu ul li:hover > ul {
		display: block;
        position:absolute;
        z-index:4;
	}

.statement {
    position:relative;
    padding-right:50px;
    text-align:left;
}
.statement h1 {
    margin:50px 0px 0px 0px;
    padding:0px;
    font-weight:400;
}
.statement h1 span {
    margin:0px;
    padding:10px 0px;
    letter-spacing:0px;
    color:#ffffff;
}
.statement h4 {
    margin:30px 0px 30px 0px;
    padding:0;
    font-weight:400;
    letter-spacing:0.8px;
    line-height:25px;
    color:#ffffff;
}
.statement h12 {
    margin:0px 0px 30px 0px;
    padding:0px;
    letter-spacing:0.8px;
    line-height:40px;
    color:#ffffff;
}
.statement p {
    margin:20px 0px 10px 0px;
    padding:0px;
    font-size:18px;
    color:#555;
} 
a.demo-btn {
    position:relative;
    margin:40px auto;   
    padding:0;
    display:block;
    width:300px;
    height:60px;
    font-weight:400;
    font-size:20px;
    color:#ffffff; 
	background: -webkit-linear-gradient(top,#2a406c, #1e2d4d);
	background:    -moz-linear-gradient(top,#2a406c, #1e2d4d);
	background:      -o-linear-gradient(top,#2a406c, #1e2d4d);
	background:         linear-gradient(top,#2a406c, #1e2d4d);    
    border-bottom:5px solid #ddd;    
    line-height:55px;
    text-decoration:none;
    transition:all 0.3s ease-out;
    -webkit-transition:all 0.3s ease-out;    
}
.demo-btn-helper {
	width:100%;
	height:100%;
	position:absolute;
	top:0;
	left:0;
    color:#ffffff;
	background: -webkit-linear-gradient(top,#00a89f, #008587);
	background:    -moz-linear-gradient(top,#00a89f, #008587);
	background:      -o-linear-gradient(top,#00a89f, #008587);
	background:         linear-gradient(top,#00a89f, #008587);
	opacity:0;
	    -webkit-transition: opacity 0.2s ease-out;
	       -moz-transition: opacity 0.2s ease-out;
	         -o-transition: opacity 0.2s ease-out;
	            transition: opacity 0.2s ease-out;
}
a.demo-btn:hover .demo-btn-helper {
	opacity:1;
}
.slider-wrap {
    position:relative;
    height:800px;
}
.slider1_container {
    position:absolute;
    margin:0;
    top: 0;
    left: 0;
    width:100%;
    height: 800px;
    overflow: hidden;
}
.slides {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 1800px;
    height: 800px;
    overflow: hidden;
}
.slides img {
    align-content: center;
}

.thermal-badge img {
    position:relative;
    margin:0;
    width:50%;
    left:25%;
}
.pattern1 {
	background: -webkit-linear-gradient(top, rgba(40,90,140,1)30%, rgba(0,0,0,0)70%);
	background:    -moz-linear-gradient(top, rgba(40,90,140,1)30%, rgba(0,0,0,0)70%);
	background:      -o-linear-gradient(top, rgba(40,90,140,1)30%, rgba(0,0,0,0));
	background:         linear-gradient(top, rgba(40,90,140,1)30%, rgba(0,0,0,0)70%);
    background-repeat:repeat; 
    position:absolute;
    width:100%;
    height:800px;
}
.pattern2 {
	background-image:url(../images/pattern-overlay.png);
    background-repeat:repeat;
    background-position:center;
    overflow:hidden;
    width:100%;
    min-height:250px;
}
.clearpush {
	background:transparent;
    width:100%;
    min-height:250px;
}
.sp-helper {
    position:absolute;
    top:0;left:0;
    width:100%;
    height:100%;
    padding:0;
    background:transparent;
    z-index:5;
}
.services {
    padding:50px 0px;
}
.services h1 {
    color:#2a406c;
    text-align:center;
    padding-bottom:20px;
}
.services-pane {
    position:relative;
    margin:30px 0px;
    padding:0px;
    border:0px;
    text-align:center; 
}
.services-pane h2 {
    padding:0px;
    margin:0px;
    height:56px;
    text-decoration:none;
    font-family:'Open Sans';
    font-weight:300;
    line-height:56px;
	background: -webkit-linear-gradient(top,#f2f2f2, #e2e2e2);
	background:    -moz-linear-gradient(top,#f2f2f2, #e2e2e2);
	background:      -o-linear-gradient(top,#f2f2f2, #e2e2e2);
	background:         linear-gradient(top,#f2f2f2, #e2e2e2);
    color:#777777;
    padding:0px;
}
.services-pane img {
    max-width:100%;
    display:table-cell;
}
.services-pane-bar {
    height:50px;
    line-height:50px;
    text-decoration:none;
    font-size:16px;
    color:#777777;
	background:#e2e2e2;    
    position:relative;
    z-index:1;
}
.services-pane-bar span {
    transition:all 0.5s ease; 
    -webkit-transition:all 0.5s ease;    
}
.services-pane-bar i {
    position:absolute;
    opacity:0;   
    transition:all 0.5s ease;
    -webkit-transition:all 0.5s ease;    
    line-height:50px;
}
.services-pane:hover .services-pane-bar {
    background:#2a406c;
    text-decoration: none;
    transition:all 0.5s ease;
    -webkit-transition:all 0.5s ease;     
}
.services-pane:hover .services-pane-bar i {
    opacity:1;   
    margin-left:-3px;
    color:#eaeaea;
}
.services-pane:hover .services-pane-bar span {
    margin-right:15px;   
    color:#eaeaea;    
}
.logoslider {
    height:150px;
    position:relative;
}
.footer-upper {
    padding:40px 0;
    letter-spacing:0.8px; 
    height:350px;
    background:#1a1a1a;
    color:#e1e1e1;
    border-top:7px solid #444;
}
.footer-upper .c-3, .footer-upper .c-2 {
    text-align:left;
    padding:20px;
}
.footer-upper h4 {font-weight:600;padding:0 0 15px 0;}
.footer-upper h5 {font-weight:600;margin-bottom:0px;padding:10px 0 5px 0;}
.footer-upper ul {padding:0;margin:10px 0 0 0;}
.footer-upper li {
    padding:0px 0px 15px 0px;
    font-weight:300;
    font-size:13px;
}
.social-media ul li {display:inline;padding:0px 10px 0px 0px;font-size:18px;}
.footer-upper p {   
    margin:10px 0;
    font-weight:300;
    font-size:13px;
    line-height:20px;
}
.footer-upper a {text-decoration: none;color:#e1e1e1;transition:all 0.15s ease-out;-webkit-transition:all 0.15s ease-out;}
.footer-upper a:hover {color:#00817a;}
.footer-lower {background:rgba(50,50,50,1);color:#777;letter-spacing:0.8px;}
.footer-lower h6 {margin-left:20px;font-weight:400;padding:25px 0;letter-spacing:0.2px;}
.footer-lower a {text-decoration:none;color:#777}

/*--Thermal Imaging Page--*/
.thermal {
    padding:50px 0px;
}
.thermal .c-4 {
    position:relative;
    padding:0px;
}
.thermal .hoverimg img {
    display:block;
    margin:auto;
    padding:20px;
    max-height:297px;
    display:table-cell;
    -webkit-transition: opacity .45s ease-in-out;
    -moz-transition: opacity .45s ease-in-out;
    -o-transition: opacity .45s ease-in-out;
    transition: opacity .45s ease-in-out;
}
.thermal img.top:hover {
  opacity:0;
}
.thermal .top {
    position:relative;
}
.thermal .bottom {
    position:absolute;
    max-height:100%;
    left:0;right:0;
}
.thermal-cap {
    position:absolute;
    height:50px;
	background: -webkit-linear-gradient(top,#00a89f, #008587);
	background:    -moz-linear-gradient(top,#00a89f, #008587);
	background:      -o-linear-gradient(top,#00a89f, #008587);
	background:         linear-gradient(top,#00a89f, #008587);
    bottom:20px;
    left:20px;
    right:20px;
    -webkit-transform: rotateY(0deg) rotateX(-90deg) scale(0.1,0);
    -moz-transform: rotateY(0deg) rotateX(-90deg) scale(0.1,0);
    -ms-transform: rotateY(0deg) rotateX(-90deg) scale(0.1,0);
    transform: rotateY(0deg) rotateX(-90deg) scale(0.1,0);
    -webkit-transform-origin: bottom center;
    -moz-transform-origin: bottom center;
    -ms-transform-origin: bottom center;
    transform-origin: bottom center;
    -webkit-transition: -webkit-transform 300ms ease;
    -moz-transition: -moz-transform 300ms ease;
    -ms-transition: -ms-transform 300ms ease;
    transition: transform 300ms ease;    
}
.thermal a:hover .thermal-cap {
    -webkit-transform: rotateY(0deg) rotateX(0deg) skewY(0deg) scale(1,1);
    -moz-transform: rotateY(0deg) rotateX(0deg) skewY(0deg) scale(1,1);
    -ms-transform: rotateY(0deg) rotateX(0deg) skewY(0deg) scale(1,1);
    transform: rotateY(0deg) rotateX(0deg) skewY(0deg) scale(1,1);
}
.service-statement {
    height:250px;
    padding:0;
}
.service-statement h1 {
    font-weight:400;
    margin:-250px 0;
    text-align:center;
    line-height:250px;
}
.contact h1 {
    color:#008587;
}
.service-statement h1 {
    color:#ffffff;
}
.service-statement h3 {
    margin:20px 15px 0px 15px;
    padding:0px;
    line-height:36px;
    color:#555;
}
.service-statement p {
    margin:20px 0px 10px 0px;
    padding:0px;
    font-size:18px;
    font-weight:300;
    color:#555;
}
.service-info {
    padding:50px 0px;
    color:#555;
}
.service-info .c-12 {
}
.service-info .c-4 {
    padding:0px 20px;
}
.service-info h2 {
    margin:0px 0px 10px 0px;
    padding:0;
    height:40px;
    line-height:38px;
    font-weight:400;
    text-align:left;
}
.service-info h2 img {
    height:30px;
    fill:#777;
}
.service-info i {
    text-align:right;
    margin:0px;
    height:40px;width:40px;
    font-size:36px;
    color:#008587;
}
.service-info p {
    margin:0;
    text-align:left;    
}
.service-info .c_2 {
    padding:0;
    margin:0 10px 0 -10px;
}
.thermal-info h3, .thermal h3 {
    text-align:center;
    padding:0 0 50px 0;
    color:#555;
}
.residential {
    background-image:url(../images/homelarge.jpg);
    background-repeat:no-repeat;
    background-position:center center;
}
.commercial {
    background-image:url(../images/contractorslg.jpg);
    background-repeat:no-repeat;
    background-position:center center;
}
.faqbg {
    background-image:url(../images/faq.jpg);
    background-repeat:no-repeat;
    background-position:center center;
}
.contactbg {
    background-image:url(../images/360bridgebg.jpg);
    background-repeat:no-repeat;
    background-position:center center;
}
.aboutbg {
    background-image:url(../images/atxeast.jpg);
    background-repeat:no-repeat;
    background-position:center center;
}
.reportsbg {
    background-image:url(../images/reportdesk.jpg);
    background-repeat:no-repeat;
    background-position:center center;
}
.thermal-statement {
    background-image:url(../images/thermal_building.jpg);
    background-repeat:no-repeat;
    background-position:center center;
}
.homecheck img {
    margin:100px 0 0 0;
}
.helmetreport img {
    margin:50px 0 0 0;
}
.faq .row {
    padding-bottom:50px;
}
.faq .row ~ .row {
    border-top:1px solid #ccc;
    padding-top:50px;
}
.border-top {
    border-top:1px solid #ccc;
}
.faq h3 {
    font-size:24px;
    text-align:left;
    color:#008587;
    font-weight:400;
    padding-bottom:20px;
}
.faq h3 ~ h3 {
    padding-top:40px;
}

.faq p {
    font-size:18px;
    line-height:32px;
}
.faq ul {
    padding:10px 0 0 20px;
    text-align:left;
    font-weight:300;
    letter-spacing:0.8px; 
    list-style-type:disc;
    -webkit-font-smoothing: antialiased;    
}
.faq li {
    font-size:18px;
    line-height:32px;
}
.faq li ~ li {
    padding-top:20px;
}
.svc .row {
}
.svc .row ~ .row {
    padding-top:30px;
}
.svc ul {
    margin-bottom:50px;
}
.svc h3 {
    font-size:24px;
    text-align:left;
    color:#008587;
    font-weight:400;
    padding:15px 0 20px 0;
}
.svc h3 ~ h3 {
    padding-top:40px;
}

.svc p {
    font-size:18px;
    line-height:32px;
}
.svc ul {
    padding:10px 0 0 20px;
    text-align:left;
    font-weight:300;
    letter-spacing:0.8px; 
    list-style-type:disc;
    -webkit-font-smoothing: antialiased;    
}
.svc li {
    font-size:18px;
    line-height:32px;
}
.svc li ~ li {
    padding-top:20px;
}
.fluke-tube {
    margin-top:5px;
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 35px;
    height: 0;
    overflow: hidden;
}
.ir-info {
    padding:50px 0px;
}
.ir-info iframe {
    height:500px;
    width:100%;
}
.ir-info .c-5, .c-7 {
    padding:0px 20px;
}
.ir-info h2 {
    margin:0px 0px 10px 0px;
    padding:0;
    font-weight:400;
    text-align:left;
}
.ir-info p {text-align:left;} 
.badges {
    padding:0px;
    height:220px;
}
.badges .c-3 {
    padding:0;
}
.badges img {
    max-height:110px;
}
.frame1 {margin:59px auto;}
.frame2 {margin:57px auto;}
.frame3 {margin:99px auto;}
.frame4 {margin:87px auto;}
.frame5 {margin:85px auto;}
/*---------*//*---------*//*---------*
           ABOUT US
/*---------*//*---------*//*---------*/
.team {
    padding:50px 0;
}
.team .c-4 {
    padding:10px;
}
.team .c-8 {
    padding:10px 10px 10px 20px;
}
.team .c-12 {
    padding:10px;
}
.team p {
    text-align:left;
    color:#5e5e5e;    
}
.team h2 {
    padding:0 0 20px 0;
    font-weight:400;
    text-align:left;
    color:#008587;    
}
.team img {
    border-radius:7px;
}
.team-sub {
    padding:0 0 50px 0;
}

/*---------*//*---------*//*---------*
           CONTACT DIV
/*---------*//*---------*//*---------*/

.mainform {
display:block;
position:relative;  
margin:30px 0px 0px 0px;
padding:0px;
box-shadow:0 0 10px rgba(0,0,0,0.3);
border-top-left-radius:8px; 
border-top-right-radius:8px;
border-bottom-left-radius:5px;
border-bottom-right-radius:5px;
border:0px;
background-color: #eaeaea;
background-image: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#999999));
background-image: -webkit-linear-gradient(top, #ffffff, #999999);
background-image:    -moz-linear-gradient(top, #ffffff, #999999);
background-image:      -o-linear-gradient(top, #ffffff, #999999);
background-image:         linear-gradient(to bottom, #ffffff, #999999);
color:2a406c;
}
.mainform img {
    position:absolute;
    max-height:50px;
    left:50%;
    margin:22px 0px 0px -28px;
}
.contact-head1 {
	background: -webkit-linear-gradient(top,#2a406c, #1e2d4d);
	background:    -moz-linear-gradient(top,#2a406c, #1e2d4d);
	background:      -o-linear-gradient(top,#2a406c, #1e2d4d);
	background:         linear-gradient(top,#2a406c, #1e2d4d);
    border-top-left-radius:5px;
    border-top-right-radius:5px;
    color:#777;
    margin:0px;    
    padding:0px;
    text-align:center;   
}
.contact-head1 h2 a {
    font-family:'Open Sans';
    font-size:34px;
    font-weight:400;
    letter-spacing:0.8px;
    height:100px;
    margin:0;
    line-height:100px;
    color:#ffffff;
    text-decoration:none;
}
.contact-head2 {
    color:#777;
    margin:0px 0px 20px 0px;    
    padding:23px 30px;
    text-align:center; 
    border-bottom:1px solid #999;  
}
.contact-head2 h3 { font-weight:400;letter-spacing:0px;margin-bottom:10px;}
.contact-head2 span { color:#008587;}
.contact-head2 h4 {
    margin-top:15px; 
    font-size:18px;
    line-height:24px;
    font-weight:300;
    letter-spacing:0px;
}
.form1 {
position:relative; 
margin:0px;
border-radius:3px;
padding:0px 20px 20px 20px;    
}
.mainform .c-4, .c-7, .c-12 {padding:10px;}
.inputform1 {
width:100%;
height:40px;
margin:0px;
border:0px;
font-size:14px;
border-radius:3px;
border:1px solid #9f9f9f;
padding:10px;
}
input[type=button]{
margin:0px; 
}
.textform1{
width:100%;
height:120px;
margin:0px;
padding:10px;    
border-radius:3px;
border:1px solid #9f9f9f;     
font-size:14px;  
resize:none;
}
.sendform1 {
    margin:-4px 0px 0px 0px;
    font-size:14px;
    color:#ffffff;
	background: -webkit-linear-gradient(top,#00a89f, #008587);
	background:    -moz-linear-gradient(top,#00a89f, #008587);
	background:      -o-linear-gradient(top,#00a89f, #008587);
	background:         linear-gradient(top,#00a89f, #008587);
    border:0px;
    letter-spacing:0.8px;
    cursor:pointer;
}
#note{
color:black;
font-Weight:400;
}
#returnmessage{
font-size:14px;
color:green;
text-align:center;
}
/*---------*//*---------*//*---------*
           CONTACT PAGE
/*---------*//*---------*//*---------*/
.mainform2 {
    display:block;
    position:relative;  
    margin:0px;
    padding:0px;    
}
.form2 {
    position:relative; 
    margin:30px 0 0 0;
    border-radius:3px;
    padding:0px 0px 20px 0px;    
}
.mainform2 img {
    position:absolute;
    max-height:50px;
    left:50%;
    margin:22px 0px 0px -28px;
}
.mainform2 .contact-header {
    padding:0 0 0 10px;
}
.mainform2 .c-4, .c-7, .c-6, .c-12 {padding:10px;}
.inputform2 {
width:100%;
margin:0px;
border:0px;
font-size:14px;
border-radius:3px;
border:1px solid #9f9f9f;
padding:15px;
}
.textform2 {
width:100%;
height:120px;
margin:0px;
padding:15px;    
border-radius:3px;
border:1px solid #9f9f9f;     
font-size:14px;  
resize:none;
}
.sendform2 {
    margin:0;
    padding:15px;
    font-size:14px;
    color:#ffffff;
	background: -webkit-linear-gradient(top,#00a89f, #008587);
	background:    -moz-linear-gradient(top,#00a89f, #008587);
	background:      -o-linear-gradient(top,#00a89f, #008587);
	background:         linear-gradient(top,#00a89f, #008587);
    border:0px;
    letter-spacing:0.8px;
    cursor:pointer;
}
.rightform {
    padding:10px 30px;
    text-align:left;}
.rightform h4 {
    padding:5px 0 10px 0;
    font-weight:400;
    font-size:18px;
}
.rightform p {
    padding:0 0 20px 0;
    font-size: 12.5px;
    line-height: 24px;
    color: #5e5e5e;
}
.rightform h5 {
  color: #5e5e5e;
  font-weight: 400;
  margin: 25px 0 0 0;
  padding:0 0 10px 0;
}
.rightform i {
    padding-right:5px;
    color:#5e5e5e;
    font-size:16px;
    width:20px;
    height:20px;
}
.map {
    padding:15px 0px;
}
/*---------*//*---------*//*---------*
           EMAIL GATE
/*---------*//*---------*//*---------*/
#email-gate {
    position:fixed;
    width:100%;
    height:100%;
    top:0;right:0;bottom:0;left:0;
    background:rgba(0,0,0,1);
    z-index:1000;
}
#pdf {
    position:relative;
	width: 650px;
	height: 820px;
	margin: 2em auto;
	border: 10px solid #555555;
}

#pdf p {
   padding: 1em;
}

#pdf iframe {
    position:absolute;
    left:0;right:0;
    width:100%;
    height:100%;
}
.mainform3 {
    margin:30vh auto;
    text-align:center;
    display:block;
    position:relative;
    width:400px;
    padding:30px 20px 20px 20px;
    box-shadow:0 0 10px rgba(0,0,0,0.3);
    border-radius:5px;
    border:0px;
    background-color: #eaeaea;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#999999));
    background-image: -webkit-linear-gradient(top, #ffffff, #999999);
    background-image:    -moz-linear-gradient(top, #ffffff, #999999);
    background-image:      -o-linear-gradient(top, #ffffff, #999999);
    background-image:         linear-gradient(to bottom, #ffffff, #999999);
    color:2a406c;
}
.mainform3 h4 {
    margin-top:10px;
}
.mainform3 .contact-header {
    padding:0 0 0 10px;
}
.form3 {
    position:relative; 
    margin:30px 0 0 0;
    border-radius:3px;   
}
.inputform3 {
    width:100%;
    margin:0px;
    border:0px;
    font-size:14px;
    border-radius:3px;
    border:1px solid #9f9f9f;
    padding:15px;
}
.textform3 {
    width:100%;
    height:120px;
    margin:0px;
    padding:15px;    
    border-radius:3px;
    border:1px solid #9f9f9f;     
    font-size:14px;  
    resize:none;
}
.sendform3 {
    margin:0;
    padding:15px;
    font-size:14px;
    color:#ffffff;
	background: -webkit-linear-gradient(top,#00a89f, #008587);
	background:    -moz-linear-gradient(top,#00a89f, #008587);
	background:      -o-linear-gradient(top,#00a89f, #008587);
	background:         linear-gradient(top,#00a89f, #008587);
    border:0px;
    letter-spacing:0.8px;
    cursor:pointer;
}

/*---------*//*---------*//*---------*
           QUERIES
/*---------*//*---------*//*---------*/

@media only screen and (max-width:1200px) {
    .hidden-lg {display:none;}
    .visible-lg {visibility:visible;} 
    .nav-logo {
        position:absolute;
        margin-top:24px;
        margin-left:-138px;
        left:50%;
}
    .statement h1 {line-height:52px;}    
    .nav-upper {
        display:none;
}  
    .mobile {display:inline-block;height:100px;}    
}

@media only screen and (min-width:1200px) {
.hidden-xl {display:none;}  
}
@media only screen and (max-width: 768px) {   
    [class*='c-'] {width:100%;margin:0;}
    .hidden-xs {display:none;}
    .visible-xs {visibility:visible;}
    .statement {padding-right:0;}
    .slider-wrap {
        background: -webkit-linear-gradient(top, rgba(40,90,140,1), rgba(20,60,101,1));
        background:    -moz-linear-gradient(top, rgba(40,90,140,1), rgba(20,60,101,1));
        background:      -o-linear-gradient(top, rgba(40,90,140,1), rgba(20,60,101,1));
        background:         linear-gradient(top, rgba(40,90,140,1), rgba(20,60,101,1));
        background-repeat:repeat;
        padding-bottom:30px;
    }
    .services-pane {padding:2% 0px;}
    .mainform {margin:30px auto;}
    .mainform3 {width:360px;}
    .thermal-badge img {width:60%;left:20%;}
    .badges {padding:50px 0;}
    .badges .c-20 {padding:30px 0;} 
    .frame1 {margin:0px auto;}
    .frame2 {margin:0px auto;}
    .frame3 {margin:0px auto;}
    .frame4 {margin:0px auto;}
    .frame5 {margin:0px auto;}
    .thermal a img {
        padding:0px;
        margin:20px auto;    
}    
}


  